<h1>The Force is Strong With This One (hrhhhhhh..)</h1>
<img src="http://www.dumpaday.com/wp-content/uploads/2012/12/funny-star-wars-pull-my-finger.jpg" alt="Pals Darth and Yoda" style="text-align:center;width:150px;height:150px;"><br>
<a href ="/games">Click here to take the <font color="red">red</font> pill and see our catalogue of Games</a><br>
<a href ="/manufacturers">Click here to take the <font color="blue">blue</font> pill and see our catalogue of Game Manufacturers</a>
