<h1>The Force is Strong With This One (hrhhhhhh..)</h1>
<center><img src="http://www.dumpaday.com/wp-content/uploads/2012/12/funny-star-wars-pull-my-finger.jpg" alt="Pals Darth and Yoda" width="200" height="200"></center><br>
<a href ="/games">Click here to take the <font color="red">red</font> pill and see our catalogue of Games</a><br>
<a href ="/manufacturers">Click here to take the <font color="DogerBlue">yellow</font> pill and see our catalogue of Game Manufacturers</a><br>
<a href ="/games/new">If you are feeling luck punk, you can click here to enter a new game</a>
<br>
<p>There is a hidden link on this page.  Use the force to find it and receive your reward. <a href="/movie">
  <img src="https://www.pnglot.com/pngfile/detail/9-93519_clipart-info-green-smiley-face-emoji.png"alt="Smiley face" style="width:10px;height:10px;">
</a></p>

