<% if flash[:failure_login] %>
 <p id="flash"><%= flash[:failure_login] %></p>
<% end %>
  
<h3> Enter your login information below.</h3><br>
<form action="/login" method="POST">
  <label>Username:</label>
  <input type="text" id= "username" name="username" placeholder="username"><br>
  <label>Password:</label>
  <input type="password" id="password" name="password" placeholder="password">
  <input type="submit" value="Submit">
</form>