<% if flash[:failure_signup] %>
<p id='flash'><%= flash[:failure_signup] %></p>
<p>One more try......</p><br>
<form action= "/signup" method="POST">
<label>Enter Your User Name: </label>
<input type="text" name="username" placeholder="username"><br>
<label>Enter Your Email Address: </label>
<input type="email" name="email" placeholder="email"><br>
<label>Enter your Password: </label>
<input type="password" name="password"><br>
<input type="submit" value="Sign Up">
</form>
<% else %>

<h3>Hello again. </h3>
<p>Please fill out the form below to create an account.  Please include a username, email, and password (I know it's a lot but that's the interweb these days, everybody wants your info).  If you don't follow these simple instuctions, something bad will happen and you might be publically shamed.</p><br>
<form action= "/signup" method="POST">
<label>Enter Your User Name: </label>
<input type="text" name="username" placeholder="username"><br>
<label>Enter Your Email Address: </label>
<input type="email" name="email" placeholder="email"><br>
<label>Enter your Password: </label>
<input type="password" name="password"><br>
<input type="submit" value="Sign Up">
</form>
<% end %>