<div class="container">
  <header><img src="https://cdn.thewirecutter.com/wp-content/uploads/2018/03/boardgamesforadults-2x1-7452.jpg" width="550" height="350" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>BOARD GAMES COLLECTION</h2>

    <div class="content">
      <% if logged_in? %>
        <p>Welcome back, <%= current_user.username %></p><br> 
        <a href='/games/new'>Enter a New Game</a><br>
        <a href='/logout'>Logout (sorry to see you go)</a>
        <% else %>
      <p>Welcome to the Board Games collection app.  It's a fun way to store information on your favorite board games and share it with your friends!</p><br>
      
      <a href="/signup">Click here to create a New Account</a><br>
      <a href="/login">Click here to Sign In</a>
    </div>
    <% end %>

  </div>
</div>
