<h1>The following is a comprehensive list of all of the Manufacturers of Games we have catalogued.</h1>
<ol><% @manufacturers.each do |manufacturer| %>
<li><%= manufacturer.name %></li>
<% end %></ol>
<a href='/login'>Click here to return to our Index page</a>

  